In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                           title  year
0  Liebe Mutter, mir geht es gut  1972
1                          Augen  1919
2          Diamonds in the Rough  1996
3               Bikini Goddesses  1996
4                      Big Daddy  2017

In [4]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
# How many movies are listed in the titles dataframe?

len(titles)

244914

In [6]:
# What are the earliest two films listed in the titles dataframe?

titles.sort_values('year').head(2)

                     title  year
186176          Miss Jerry  1894
109003  The Startled Lover  1898

In [7]:
# How many movies have the title "Hamlet"?

len(titles[titles.title == 'Hamlet'])

20

In [8]:
# How many movies are titled "The Princess Bride"?

len(titles[titles.title == 'The Princess Bride'])

1

In [9]:
# When was the first movie titled "Hamlet" made?

titles[titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
14924  Hamlet  1910

In [10]:
# List all of the "Treasure Island" movies from earliest to most recent.

titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
181066  Treasure Island  1918
131004  Treasure Island  1920
60423   Treasure Island  1934
139571  Treasure Island  1950
21180   Treasure Island  1972
239569  Treasure Island  1973
102178  Treasure Island  1985
207662  Treasure Island  1999

In [11]:
# How many movies were made in the year 1950?

len(titles[titles.year == 1950])

1113

In [12]:
# How many movies were made in the year 1960?

len(titles[titles.year == 1960])

1549

In [13]:
# How many movies were made from 1950 through 1959?

t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

12934

In [14]:
len(t[t.year // 10 == 195])

12934

In [15]:
# In what years has a movie titled "Batman" been released?

t = titles
t[t.title == 'Batman']

         title  year
7916    Batman  1989
152354  Batman  1943

In [16]:
# How many roles were there in the movie "Inception"?

c = cast
len(c[c.title == 'Inception'])

78

In [17]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

27

In [18]:
# But how many roles in the movie "Inception" did receive an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

In [19]:
# Display the cast of "The Princess Bride" in their correct "n"-value order,
# ignoring roles that did not earn a numeric "n" value.

c = cast
c = c[c.title == 'The Princess Bride']
c = c[c.n.notnull()]
c = c.sort_values('n')
c

,title,year,name,type,character,n
671769,The Princess Bride,1987,Cary Elwes,actor,Westley,1.0
1756471,The Princess Bride,1987,Mandy Patinkin,actor,Inigo Montoya,2.0
2017715,The Princess Bride,1987,Chris Sarandon,actor,Prince Humperdinck,3.0
896748,The Princess Bride,1987,Christopher Guest,actor,Count Rugen,4.0
2079286,The Princess Bride,1987,Wallace Shawn,actor,Vizzini,5.0
62626,The Princess Bride,1987,Andr? the Giant,actor,Fezzik,6.0
2024227,The Princess Bride,1987,Fred Savage,actor,The Grandson,7.0
3760948,The Princess Bride,1987,Robin (V) Wright,actress,The Princess Bride,8.0
697608,The Princess Bride,1987,Peter Falk,actor,The Grandfather,9.0
463476,The Princess Bride,1987,Peter Cook,actor,The Impressive Clergyman,10.0
2131687,The Princess Bride,1987,Mel Smith,actor,The Albino,11.0
3093182,The Princess Bride,1987,Carol Kane,actress,Valerie,12.0
500931,The Princess Bride,1987,Billy Crystal,actor,Miracle Max,13.0
2851157,The Princess Bride,1987,Anne Dyson,actress,The Queen,14.0
3255868,The Princess Bride,1987,Margery Mason,actress,The Ancient Booer,15.0
2192917,The Princess Bride,1987,Malcolm Storry,actor,Yellin,16.0
876028,The Princess Bride,1987,Willoughby Gray,actor,The King,17.0
2664739,The Princess Bride,1987,Betsy Brantley,actress,The Mother,18.0
111577,The Princess Bride,1987,Paul Badger,actor,The Assistant Brute,19.0

In [20]:
# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort_values('n')
c

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

In [21]:
# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort_values('n')
c

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

In [22]:
# How many roles were credited in the silent 1921 version of Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [23]:
# How many roles were credited in Branagh’s 1996 Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

In [24]:
# How many "Hamlet" roles have been listed in all film credits through history?

c = cast
c = c[c.character == 'Hamlet']
len(c)

96

In [25]:
# How many people have played an "Ophelia"?

c = cast
c = c[c.character == 'Ophelia']
len(c)

# That was my original answer.
# But 9peppe on GitHub points out I am wrong! Instead:

len(cast[cast.character == "Ophelia"].name.unique())

# Can you work out why the two answers are different?

115

In [26]:
# How many people have played a role called "The Dude"?

c = cast
c = c[c.character == 'The Dude']
len(c)

19

In [27]:
# How many people have played a role called "The Stranger"?

c = cast
len(c[c.character == 'The Stranger'].name.unique())

202

In [28]:
# How many roles has Sidney Poitier played throughout his career?

c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

In [29]:
# How many roles has Judi Dench played?

c = cast
c = c[c.name == 'Judi Dench']
len(c)

55

In [30]:
# List the supporting roles (having n=2) played by Cary Grant in the 1940s,
# in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort_values('year')
c

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [31]:
# List the leading roles that Cary Grant played in the 1940s in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1 ]
c = c.sort_values('year')
c

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

In [32]:
# How many roles were available for actors in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

157738

In [33]:
# How many roles were available for actresses in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

57733

In [34]:
# How many leading roles (n=1) were available
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

65140

In [35]:
# How many non-leading roles were available through
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1117667

In [36]:
# How many roles through 1980 were minor enough
# that they did not warrant a numeric "n" rank?

c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

448347