In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv')
titles.head()

              title  year
0  #1 Serial Killer  2013
1              #211  2018
2                #5  2013
3        #50Fathers  2015
4               #66  2015

In [4]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [5]:
# How many movies are listed in the titles dataframe?

len(titles)

270343

In [6]:
# What are the earliest two films listed in the titles dataframe?

titles.sort_values('year').head(2)

                     title  year
147817          Miss Jerry  1894
235723  The Startled Lover  1898

In [7]:
# How many movies have the title "Hamlet"?

len(titles[titles.title == 'Hamlet'])

20

In [8]:
# How many movies are titled "The Princess Bride"?

len(titles[titles.title == 'The Princess Bride'])

1

In [9]:
# When was the first movie titled "Hamlet" made?

titles[titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
87862  Hamlet  1910

In [10]:
# List all of the "Treasure Island" movies from earliest to most recent.

titles[titles.title == 'Treasure Island']

                  title  year
244905  Treasure Island  1918
244906  Treasure Island  1920
244907  Treasure Island  1934
244908  Treasure Island  1950
244909  Treasure Island  1972
244910  Treasure Island  1973
244911  Treasure Island  1985
244912  Treasure Island  1999

In [11]:
# How many movies were made in the year 1950?

len(titles[titles.year == 1950])

1308

In [12]:
# How many movies were made in the year 1960?

len(titles[titles.year == 1960])

1863

In [13]:
# How many movies were made from 1950 through 1959?

t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

15283

In [14]:
len(t[t.year // 10 == 195])

15283

In [15]:
# In what years has a movie titled "Batman" been released?

t = titles
t[t.title == 'Batman']

        title  year
23807  Batman  1943
23808  Batman  1989

In [16]:
# How many roles were there in the movie "Inception"?

c = cast
len(c[c.title == 'Inception'])

78

In [17]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

27

In [18]:
# But how many roles in the movie "Inception" did receive an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

In [19]:
# Display the cast of "The Princess Bride" in their correct "n"-value order,
# ignoring roles that did not earn a numeric "n" value.

c = cast
c = c[c.title == 'The Princess Bride']
c = c[c.n.notnull()]
c = c.sort_values('n')
c

,title,year,name,type,character,n
727770,The Princess Bride,1987,Cary Elwes,actor,Westley,1.0
1913217,The Princess Bride,1987,Mandy Patinkin,actor,Inigo Montoya,2.0
2199516,The Princess Bride,1987,Chris Sarandon,actor,Prince Humperdinck,3.0
972564,The Princess Bride,1987,Christopher Guest,actor,Count Rugen,4.0
2267224,The Princess Bride,1987,Wallace Shawn,actor,Vizzini,5.0
68622,The Princess Bride,1987,André the Giant,actor,Fezzik,6.0
2206950,The Princess Bride,1987,Fred Savage,actor,The Grandson,7.0
4108082,The Princess Bride,1987,Robin (V) Wright,actress,The Princess Bride,8.0
756616,The Princess Bride,1987,Peter Falk,actor,The Grandfather,9.0
502745,The Princess Bride,1987,Peter Cook,actor,The Impressive Clergyman,10.0
2323392,The Princess Bride,1987,Mel Smith,actor,The Albino,11.0
3374757,The Princess Bride,1987,Carol Kane,actress,Valerie,12.0
542012,The Princess Bride,1987,Billy Crystal,actor,Miracle Max,13.0
3108943,The Princess Bride,1987,Anne Dyson,actress,The Queen,14.0
3554093,The Princess Bride,1987,Margery Mason,actress,The Ancient Booer,15.0
2388955,The Princess Bride,1987,Malcolm Storry,actor,Yellin,16.0
950229,The Princess Bride,1987,Willoughby Gray,actor,The King,17.0
2907392,The Princess Bride,1987,Betsy Brantley,actress,The Mother,18.0
122664,The Princess Bride,1987,Paul Badger,actor,The Assistant Brute,19.0

In [20]:
# Display the entire cast, in "n"-order, of the 1953 film "Peter Pan".

c = cast
c = c[c.title == 'Peter Pan']
c = c[c.year == 1953]
c = c.sort_values('n')
c

             title  year               name     type        character    n
676451   Peter Pan  1953     Bobby Driscoll    actor        Peter Pan  1.0
2852197  Peter Pan  1953   Kathryn Beaumont  actress    Wendy Darling  2.0
498031   Peter Pan  1953       Hans Conried    actor     Captain Hook  3.0
498032   Peter Pan  1953       Hans Conried    actor      Mr. Darling  3.0
2468731  Peter Pan  1953      Bill Thompson    actor         Mr. Smee  4.0
2468732  Peter Pan  1953      Bill Thompson    actor          Pirates  4.0
2797096  Peter Pan  1953      Heather Angel  actress     Mrs. Darling  5.0
488720   Peter Pan  1953       Paul Collins    actor     John Darling  6.0
1505133  Peter Pan  1953        Tommy Luske    actor  Michael Darling  7.0
369186   Peter Pan  1953      Candy Candido    actor     Indian Chief  8.0
501186   Peter Pan  1953         Tom Conway    actor         Narrator  9.0
344195   Peter Pan  1953        Tony Butala    actor         Lost Boy  NaN
725438   Peter Pan  1953  Robert (II) Ellis    actor         Lost Boy  NaN
1625098  Peter Pan  1953    Johnny McGovern    actor         Lost Boy  NaN
2293547  Peter Pan  1953     Jeffrey Silver    actor         Lost Boy  NaN
2302076  Peter Pan  1953      Stuffy Singer    actor         Lost Boy  NaN
2886038  Peter Pan  1953      Lucille Bliss  actress          Mermaid  NaN
3163953  Peter Pan  1953         June Foray  actress          Mermaid  NaN
3163954  Peter Pan  1953         June Foray  actress            Squaw  NaN
3299568  Peter Pan  1953      Connie Hilton  actress          Mermaid  NaN
3394734  Peter Pan  1953     Margaret Kerry  actress          Mermaid  NaN

In [21]:
# Now display the entire cast, in "n"-order, of the 2003 version of "Peter Pan".

c = cast
c = c[c.title == 'Peter Pan']
c = c[c.year == 2003]
c = c.sort_values('n')
c

,title,year,name,type,character,n
1164446,Peter Pan,2003,Jason Isaacs,actor,Captain Hook,1.0
1164445,Peter Pan,2003,Jason Isaacs,actor,Mr. Darling,1.0
2407712,Peter Pan,2003,Jeremy Sumpter,actor,Peter Pan,2.0
3324138,Peter Pan,2003,Rachel Hurd-Wood,actress,Wendy Darling,3.0
3782372,Peter Pan,2003,Lynn Redgrave,actress,Aunt Millicent,4.0
298583,Peter Pan,2003,Richard Briers,actor,Smee,5.0
4092292,Peter Pan,2003,Olivia Williams,actress,Mrs. Darling,6.0
1888335,Peter Pan,2003,Geoffrey Palmer,actor,Sir Edward Quiller Couch,7.0
1799199,Peter Pan,2003,Harry Newell,actor,John Darling,8.0
1986391,Peter Pan,2003,Freddie Popplewell,actor,Michael Darling,9.0
3841588,Peter Pan,2003,Ludivine Sagnier,actress,Tink,10.0
439589,Peter Pan,2003,Theodore Chester,actor,Slightly,11.0
2298128,Peter Pan,2003,Rupert Simonian,actor,Tootles,12.0
1522051,Peter Pan,2003,George MacKay,actor,Curly,13.0
707695,Peter Pan,2003,Harry Eden,actor,Nibs,14.0
927205,Peter Pan,2003,Patrick Gooch,actor,Twin,15.0
927200,Peter Pan,2003,Lachlan Gooch,actor,Twin,16.0
3232820,Peter Pan,2003,Carsen Gray,actress,Tiger Lily,17.0
3069011,Peter Pan,2003,Maggie Dence,actress,Lady Quiller Couch,18.0
4060775,Peter Pan,2003,Kerry Walker,actress,Miss Fulsom,19.0
2627506,Peter Pan,2003,Mathew (II) Waters,actor,Messenger Boy,20.0
460303,Peter Pan,2003,Alan Cinis,actor,Skylights,21.0
2660386,Peter Pan,2003,Frank Whitten,actor,Starkey,22.0
2347720,Peter Pan,2003,Bruce Spence,actor,Cookson,23.0
2710694,Peter Pan,2003,Dan Wyllie,actor,Alf Mason,24.0
375625,Peter Pan,2003,Brian Carbee,actor,Albino,25.0
167361,Peter Pan,2003,Don Battee,actor,Giant Pirate,26.0
856018,Peter Pan,2003,Frank Gallacher,actor,Alsation Fogarty,27.0
404531,Peter Pan,2003,Septimus Caton,actor,Noodler,28.0
2489160,Peter Pan,2003,Jacob Tomuri,actor,Bill Jukes,29.0
2697883,Peter Pan,2003,Venant Wong,actor,Quang Lee,30.0
1641601,Peter Pan,2003,Phil Meacham,actor,Bollard,31.0
1694004,Peter Pan,2003,Darren Andrew Mitchell,actor,Mullins,32.0
2145218,Peter Pan,2003,Michael Roughan,actor,Cecco,33.0
1286012,Peter Pan,2003,Bill Kerr,actor,Fairy Guide,34.0
3518430,Peter Pan,2003,Celeste MacIlwaine,actress,Sleeping Children,35.0
1098877,Peter Pan,2003,Spike Hogan,actor,Sleeping Children,36.0
1139940,Peter Pan,2003,Patrick Hurd-Wood,actor,Sleeping Children,37.0
3102944,Peter Pan,2003,Brooke Duncan,actress,Sleeping Children,38.0
2901097,Peter Pan,2003,Themora Bourne,actress,Sleeping Children,39.0
272148,Peter Pan,2003,Alexander Bourne,actor,Sleeping Children,40.0
1766267,Peter Pan,2003,Bruce Myles,actor,Bank Manager,41.0
2839369,Peter Pan,2003,Maya Barnaby,actress,Mermaid,42.0
3639523,Peter Pan,2003,Tory Mussett,actress,Mermaid,43.0
3600344,Peter Pan,2003,Ursula Mills,actress,Mermaid,44.0
3740476,Peter Pan,2003,Nadia Pirini,actress,Mermaid,45.0
3370646,Peter Pan,2003,Vij Kaewsanan,actress,Mermaid,46.0
3950927,Peter Pan,2003,Janet Strauss,actress,Medicine Woman,47.0
3622224,Peter Pan,2003,Sam Morely,actress,Fairy Bride,48.0
2260063,Peter Pan,2003,Brendan Shambrook,actor,Fairy Groom,49.0
2931663,Peter Pan,2003,Saffron Burrows,actress,Story Narrator,50.0
3781660,Peter Pan,2003,Rebel (II),actress,Nana,51.0

In [22]:
# How many roles (the number of lines in the cast dataframe) were in the 1921 version of Hamlet (Which was a silent movie)?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [23]:
# How many roles were in 1996 Hamlet (Directed by Branagh)?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

In [24]:
# How many "Hamlet" roles (**Hamlet** as a **character**) have been listed in all film credits through history?

c = cast
c = c[c.character == 'Hamlet']
len(c)

101

In [25]:
# How many people have played a role (a character) called "The Dude"?

c = cast
c = c[c.character == 'The Dude'].name.unique()
len(c)

19

In [26]:
# How many people have played a character called "Ophelia"?

c = cast
c = c[c.character == 'Ophelia']
len(c)

# That was my original answer.
# But 9peppe on GitHub points out I am wrong! Instead:

len(cast[cast.character == "Ophelia"].name.unique())

# Can you work out why the two answers are different?

116

In [27]:
# How many roles has Mike Myers played throughout his career?

c = cast
c = c[c.name == 'Mike Myers']
len(c)

29

In [28]:
# How many roles has Uma Thurman played?

c = cast
c = c[c.name == 'Uma Thurman']
len(c)

52

In [29]:
# List the supporting roles (having n=2) played by Uma Thurman in the 1990s,
# in order by year.

c = cast
c = c[c.name == 'Uma Thurman']
c = c[c.year.between(1990, 1999)]
c = c[c.n == 2]
c = c.sort_values('year')
c

                      title  year         name     type       character    n
3992918        Henry & June  1990  Uma Thurman  actress     June Miller  2.0
3992955  Where the Heart Is  1990  Uma Thurman  actress   Daphne McBain  2.0
3992914        Dylan Thomas  1991  Uma Thurman  actress  Caitlin Thomas  2.0
3992939          Robin Hood  1991  Uma Thurman  actress     Maid Marian  2.0
3992927   Mad Dog and Glory  1993  Uma Thurman  actress           Glory  2.0
3992917             Gattaca  1997  Uma Thurman  actress   Irene Cassini  2.0
3992945        The Avengers  1998  Uma Thurman  actress       Emma Peel  2.0

In [30]:
# List the leading roles (having n=1) played by Uma Thurman in the 1990s,
# in order by year.

c = cast
c = c[c.name == 'Uma Thurman']
c = c[c.year.between(1990, 1999)]
c = c[c.n == 1]
c = c.sort_values('year')
c

,title,year,name,type,character,n
3992915,Even Cowgirls Get the Blues,1993,Uma Thurman,actress,Sissy Hankshaw,1.0
3992952,The Truth About Cats & Dogs,1996,Uma Thurman,actress,Noelle,1.0

In [31]:
# How many roles were available for actors in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

180581

In [32]:
# How many roles were available for actresses in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

69060

In [33]:
# How many leading roles (n=1) were available
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

74320

In [34]:
# How many non-leading roles were available through
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1266204

In [35]:
# How many roles through 1980 were minor enough
# that they did not warrant a numeric "n" rank?

c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

495093